.lists{
    background-color: #f3f3f3;
    height: 650px;
    width: 100%;
}

.size-restaurant{
    height: 80px;
    padding-left: 20px;
    border-radius: 10px;
}

.cube-restaurant{
    height: 500px;
    width: auto;
    border-radius: 20px;
}
/*
.cube-restaurant:hover {
    cursor: pointer;
    transform: scale(1.05);
}
*/
.img-restaurant1{
    background-image: url("./img/restaurants/restaurant1/jay-wennington-N_Y88TWmGwa-unsplash.jpg");
    width: 35%;
    height: 80px;
    padding-left: 20px;
    border-radius: 15px 15px 0 0;
}