.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-centre button {
  color: red;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
