.list{
    padding-left: 30px;
    margin-top: 40px;
    font-weight: bold;
}


.choice {
    width: 300px;
    height: 60px;
    color: black;
    font-weight: bold;
    background-color: #FAF9F9;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 5px 5px 7px -3px rgba(199, 197, 198, 0.8);
}

.choice:hover{
    color: black;
    background-color: #9356DC;
    opacity: 10%;
    box-shadow: 5px 5px 7px -3px rgba(109, 108, 109, 0.8);
}

.icon-list{
    color: #9F9D9D;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;    
}

