.list{
    padding-left: 30px;
    margin-top: 40px;
    font-weight: bold;
}


.fonct{
    width: 300px;
    height: 60px;
    color: black;
    font-weight: bold;
    background-color: #FAF9F9;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 7px -3px rgba(199, 197, 198, 0.8);
    cursor: pointer;

    &:hover{
        background-color: #FAE9FD;
    }
}

.icone{
    height: 50px;
    width: 50px;
    color: #9F9D9D;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
    color: #9356DC;
    }
}
.ol{
    list-style-type: disc;
    justify-content: flex-start;
    color: white;
    background-color: #9356DC;
}

.bulle{
    position: relative;
    top: 0; right: 3rem; left: -2rem;
    background-color: #9356DC;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
}

