.footer{
    background-color: #393939;
    height: 400px;
    width: 100%;
    color: white;
    /*text-align: left;*/

    &__title{
        font-family: "shrikhand";
        color:white;
        font-size: x-large;
        padding-left: 20px;
    }
}
/*
    &__list{
        list-style-type: none;
    }
}
*/