.logo {
    box-shadow: 0 0 0.5rem rgb(0 0 0 /25%);
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;
}

.search {
    height: 50px;
    width: 100%;
    cursor: pointer;
    max-width: 100%;
    border: none;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    &__text {
        border: 0px;
        background-color: transparent;
        font-weight: bold;
        text-align: center;
        font-size: 1.1rem;
        width: 140px
    }
}