.heart{
    position:absolute;
    font-size: 1.5rem;
    right: 1rem;
    top:65%;
    margin-right: 60px;
    
    &__one {
        position:absolute;
    }

    &__two {
        position:absolute;
    }

    .fas{
        color: transparent;
        background-image: linear-gradient($colour-secondary, $colour-primary);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
        
        &:hover{
        opacity: 1;
        transform: scale(1.09);
        }
    }
}
