.section_loader{
    position: fixed;
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: $colour-primary;
    text-align: center;
    z-index: 0;
    width:100%;
    animation: show_loader 3s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8D6F3;
}

.container_page{
    animation :showPage 0.1s 2.5s ease-in-out both;
    position:absolute;
    top:0px;
    z-index:100;
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

@keyframes showPage {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.spinner{
    background-color: #F8D6F3;    
    font-family: "Shrikhand";

    &__loader{
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

    &__loader-quart{
        border-radius: 50px;
        border: 6px solid $colour-secondary;
    }

&__loader-quart:after{
        content:'';
        position: absolute;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top: 6px solid white;
        animation: spin 1s linear 0s infinite;
    }
}

@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
    
}

@keyframes show_loader{
    0%{ opacity: 1;   }
}