@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header {
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;
    background-color: white;
}