.entry{
    height: 85px;
    width: 95%;
    background-color: white;
    border-radius: 20px;
    margin: 10px 15px;
    display: flex;
    flex-direction: row;
    white-space:nowrap;
    padding-left:10px;
    box-shadow: 6px 6px 4px #e7e7e7;
    overflow: hidden;

    &__title{
        align-items: center;
        flex-direction: column;
        width:100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        >h3, >p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__price{
        font-weight: bold;
        text-align: end;
        margin-left: auto;
        margin-right: 25px;
        margin-top: 60px;
        font-size:16px;
        transition: margin-right 0.5s;
    }


    &__check{
        height: 5.5rem;
        width: 6rem;
        font-size: 22px;
        display: grid;
        place-items: center;
        color: white;
        background-color: $colour-tertiary;
        border-radius:0 20px 20px 0;
        margin-right: -5.8rem;
        right: 0;

        transition: margin-right 0.5s;
        cursor: pointer;    
    }

    &:hover{
        .entry__check{
            margin-right: 0;
        }
        .rotate-center > i {
            animation: rotate-center 0.6s ease-in-out both;
        }
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}